<%= form_with(model: outfit, local: true) do |form| %>
  <% if outfit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outfit.errors.count, "error") %> prohibited this outfit from being saved:</h2>

      <ul>
      <% outfit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :stylist_id %>
    <%= form.number_field :stylist_id %>
  </div>

  <div class="field">
    <%= form.label :shoes_id %>
    <%= form.number_field :shoes_id %>
  </div>

  <div class="field">
    <%= form.label :trousers_id %>
    <%= form.number_field :trousers_id %>
  </div>

  <div class="field">
    <%= form.label :shirt_id %>
    <%= form.text_field :shirt_id %>
  </div>

  <div class="field">
    <%= form.label :integer_checked %>
    <%= form.number_field :integer_checked %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :season %>
    <%= form.text_field :season %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
