<%= form_with(model: outfit, local: true) do |form| %>
  <% if outfit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(outfit.errors.count, "error") %> prohibited this outfit from being saved:</h2>

      <ul>
      <% outfit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, :value => session[:user] %>
  </div>

  <div class="field">
    <%= form.label :stylist_id %>
    <%= form.number_field :stylist_id %>
  </div>

  <div class="field">
    <%= form.label :shoe_id %>
    <%= form.number_field :shoe_id %>
  </div>

  <div class="field">
    <%= form.label :trouser_id %>
    <%= form.number_field :trouser_id %>
  </div>

  <div class="field">
    <%= form.label :shirt_id %>
    <%= form.number_field :shirt_id %>
  </div>

  <div class="field">
      <%= form.hidden_field :integer_checked, :value => 0 %>
  </div>

  <div class="field">
    <%= form.label :outfit_type %>
    <%= form.text_field :outfit_type %>
  </div>

  <div class="field">
    <%= form.label :season %>
    <%= form.text_field :season %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
