<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @outfit.user_id %>
</p>

<p>
  <strong>Stylist:</strong>
  <%= @outfit.stylist_id %>
</p>

<p>
  <strong>Shoes:</strong>
  <%= @outfit.shoe_id %>
</p>

<p>
  <strong>Trousers:</strong>
  <%= @outfit.trouser_id %>
</p>

<p>
  <strong>Shirt:</strong>
  <%= @outfit.shirt_id %>
</p>

<p>
  <strong>Integer checked:</strong>
  <%= @outfit.integer_checked %>
</p>

<p>
  <strong>Type:</strong>
  <%= @outfit.outfit_type %>
</p>

<p>
  <strong>Season:</strong>
  <%= @outfit.season %>
</p>

<p>
  <strong>Name:</strong>
  <%= @outfit.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @outfit.comment %>
</p>

<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
<%= link_to 'Agree',verify_outfits_path(@outfit) %>
