<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shoe.user_id %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @shoe.picture %>
</p>

<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Back', shoes_path %>
