
<%= form_with(model: trouser, local: true) do |form| %>
  <% if trouser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trouser.errors.count, "error") %> prohibited this trouser from being saved:</h2>

      <ul>
      <% trouser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, :value => session[:user] %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
