<!DOCTYPE html>
<html>
  <head>
    <title>ProjectStyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id = "page">



	<div id = "head">
	<p>:~$ project_style </p>
	</div>

	<div id = "menu">
    <% if logged_in? %>
      <% if is_user? %>
        <%= render 'layouts/user_menu' %>
      <% else %>
        <%= render 'layouts/stylist_menu' %>
      <% end %>
    <% end %>
	</div>

	<div id = "main">
	    <%= yield %>
	</div>
	<div id = "footer">

	</div>

      </div>
  </body>
</html>
