<!DOCTYPE html>
<html>
  <head>
    <title>ProjectStyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id = "page">



	<div id = "head">
	<p>:~$ project_style </p>
	</div>

  <br>
  <hr>

	<div id = "menu">
    <% if logged_in? %>
      <% if is_user? %>
        <%= render 'layouts/user_menu' %>
      <% else %>
        <%= render 'layouts/stylist_menu' %>
      <% end %>
    <%else%>

    <% end %>
	</div>

  <br>
  <hr>


	<div id = "main">

    <% if logged_in? || request.env['PATH_INFO'] == "/users/new"%>

       <%= yield %>

    <% else %>

	       <%= render 'layouts/loginform' %>

    <% end %>
	</div>
	<div id = "footer">

	</div>

      </div>
  </body>
</html>
